<!-- whichx.js | Text Classifier-->
<script src="/axiosGET/whichx.js"></script>
<!-- JQUERY -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<!-- AWESOME FONT -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- BOOTLINT -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootlint/1.1.0/bootlint.min.js"></script>
<!-- AXIOS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.map"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<!--
NO IMPORTANTES
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.esm.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/cors-anywhere@0.4.3/lib/cors-anywhere.min.js"></script>
https://code.jquery.com/color/jquery.color-2.2.0.min.js
https://code.jquery.com/color/jquery.color.svg-names-2.2.0.min.js
https://code.jquery.com/color/jquery.color.plus-names-2.2.0.min.js
-->
<style media="screen">
  div#infoPage .row, div#infoPage .col {
    border-style: solid;
    border-color: darkgray;
}
</style>
