<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Datos en camino... velocidad 120ms/h</title>
    <% include ../../essentials/headScripts.html %>

  </head>
  <body>
    <center>
    <h1>
    Datos guardados a la base dedatos
    </h1>
    <iframe id="celebratemamen"width="727" height="409" autoplay="1" src="https://www.youtube.com/embed/3GwjfUFyY6M?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <script type="text/javascript">
$('#celebratemamen').click();
    </script>
    </center>
  </body>
</html>
