<html>
<head>
  <title>MOTOR AI ARTI</title>
  <% include ../../essentials/headScripts.html %>
  </head>
  <body>
    <div class="container-fluid bg-dark text-light">

      <div class="row">
<h1 class="mx-auto">AI ARTI MOTOR:</h1>
<div id="TopMenuSelect"  class="container">

</div>
<h1 id="betterTittle"></h1>
<div class="row mx-auto" style="margin:1em;">
  <div class="col">
    Título
  </div>
  <div class="col">
    Nota
  </div>
  <div class="col">
    Categoría
  </div>
</div>
<div class="row">
</div>
<script type="text/javascript" src="/axiosGET/axios.js"></script>

<div id="infoPage">

</div>

      </div>
    </div>

  </body>
</html>
